{
  "extends": [
    "react-app",
  ],
  "plugins": [
    "jsx-a11y",
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "restParams": true,
      "spread": true,
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./node_modules/react-scripts/config/webpack.config.prod.js"
      }
    }
  },
  "rules": {
    "quotes": [ "warn", "single", { "allowTemplateLiterals": true }],
    "indent": [ "warn", 4, { "SwitchCase": 1 } ],
    "max-len": ["warn", 160, {
      "ignoreComments": true,
      "ignoreStrings": true,
      "ignoreRegExpLiterals": true,
      "ignoreTemplateLiterals": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true
    }],
    "no-console": "warn",
    "prefer-const": "warn",
    "semi": "warn",
    "react/forbid-prop-types": "off",
    "react/forbid-foreign-prop-types": "off"
  }
}
