html {
 height: 100%;
 min-height: 100%;
 font-family: 'Roboto', sans-serif;
}
body {
 font-size: 1rem;
 height: 100%;
 position: relative;
 margin:0; padding: 0;
 overflow: hidden;
 -webkit-font-smoothing: antialiased;
 text-rendering: optimizeLegibility;
 -moz-osx-font-smoothing: grayscale;
 font-family: 'Roboto', sans-serif;
 background: #293238;
}
